body{
    background: linear-gradient(to right, #00ffff,#FF02FF);
}

.main{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}